@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ChatSafe</h1>
    <p>Start video chatting with your friends in a fully private and safe way</p>
    <hr />
    <div class="buttonHolder">
        <a class="white" asp-area="" asp-page="/Chat">
            <p>
                <span class="bg"></span><span class="base"></span><span class="text">Start Video Chat</span>
            </p>
        </a>
    </div>
</div>
