@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Everything you do is private here. Our server does NOT record any of your data, so don't worry and enjoy!</p>
<p>You should decide on the video chat password in real live so that safety is 100% certain.</p>
